# Assignment 3

Please do not change, delete or edit any cells. Write your code in between designated lines.

## Question 1 (15 points)

In [1]:
# Create a dictionary named dict1 then add key and values.
# When you print output of dict1 will be shown as {'Peas': 55, 'Canola': 66, 'Oat': 65}.

## Your code here - down ##
dict1 = {'Peas': 55, 'Canola': 66, 'Oat': 65}
print(dict1)
## Your code here - up ##

{'Peas': 55, 'Canola': 66, 'Oat': 65}

In [2]:
# In this cell you need to change the assigned value of Peas to 66 and print dict1 again.

## Your code here - down ##
dict1['Peas'] = 66
print(dict1)
## Your code here - up ##

{'Peas': 66, 'Canola': 66, 'Oat': 65}

In [3]:
# Now use For Loop and print values and key inside dict1. Your output will look like:
# Peas
# 66
# and so on.

## Your code here - down ##
for k, v in dict1.items():
  print(k)
  print(v)
## Your code here - up ##

Peas
66
Canola
66
Oat
65

## Question 2 (30 points)

In [4]:
ls = [2,7,9, 4]

# Method 1
# Ceate a list that consist of square of ls values.

## Your code here - down ##
sqls = [x ** 2 for x in ls]
print(sqls)
## Your code here - up ##

[4, 49, 81, 16]

In [5]:
# Method 2

## Your code here - down ##
sqls2 = []
for x in ls:
  sqls2.append(x ** 2)
print(sqls2)
## Your code here - up ##

[4, 49, 81, 16]

## Question 3 (55 points)

In [6]:
import numpy as np

ar_1 = np.array([[3, 4, 5],
                 [3, 4, 5]])
# What is shape of the array?

## Your code here - down ##
ar_1.shape
## Your code here - up ##

(2, 3)

In [7]:
ar_2 = ([[3, 4, 5],
         [8, 4, 1]])
# Print first row of ar_2

## Your code here - down ##
ar_2[0]
## Your code here - up ##

[3, 4, 5]

In [8]:
# Write a code that will print 1 in ar_2.

## Your code here - down ##
ar_2[1][2]
## Your code here - up ##

1

In [9]:
# Print entire mean of ar_2

## Your code here - down ##
np.mean(ar_2)

## Your code here - up ##

4.166666666666667

In [10]:
# Print each columns' mean

## Your code here - down ##
np.mean(ar_2, axis = 0)
## Your code here - up ##

array([5.5, 4. , 3. ])

In [11]:
# Print entire standard deviation  of ar_2

## Your code here - down ##
np.std(ar_2)
## Your code here - up ##

2.1147629234082532

In [12]:
# Print each rows' standard deviation.

## Your code here - down ##
np.std(ar_2, axis = 1)
## Your code here - up ##

array([0.81649658, 2.86744176])

In [13]:
# Find the difference between mean and median of entire ar_2.

## Your code here - down ##
print(np.median(ar_2))

print(np.mean(ar_2) == np.median(ar_2))
## Your code here - up ##

4.0
False

Are mean and median same? If they are different, explain what does that mean.

Please explain below in this cell only.

*Mean and median are not the same,*

*the mean is the sum of all values divided by the number of values,*

*the median is the middle value in a set of numbers (or the average of the middle two values if the set has an even number of elements).*